-@employees.each do |employee|
	%div.employee
		.name
			= link_to employee.fullname, employee_path(employee), :class => "employee-details"
		%span.extension
			=employee.extension
		%span.department
			=employee.title
