-@employees.each do |employee|
	%div.employee
		%span#name= employee.fullname
		%span#extention=employee.extension
		%span#more= link_to 'blah', employee_path(employee), :class => "employee-details"
= will_paginate @employees
