%p#notice=notice

= form_tag company_employee_path, :method => 'get', :id => "employees_search" do
	%p
		= text_field_tag :search, params[:search], :type => 'search', :placeholder => t(:placeholder_label), :autocomplete => 'off'

%div#employees
	= render 'employees'