%h1 Alle medewerkers

= form_tag employees_path, :method => 'get', :id => "employees_search" do
	%p
		= text_field_tag :search, params[:search], :type => 'search', :placeholder => t(:placeholder_label)

%div#employees
	= render 'employees'