a.employee-details {
	text-decoration: none;
	display:block;
	font-size: .9em;
	color: black;
}
a.employee-details:hover {
	background: lightyellow;
	color: black;	
}

td.field_label {
	color: grey;
	text-align: right;
}

.employee {
	border-bottom: 1px dotted lightgrey;
	padding: 0 0 0 0;
	margin: 1px 1px 1px 1px;
}
.extension {
	color: purple;
	font-size: .75em;
	font-weight: bold;
}

.department {
	color: purple;
	font-size: .75em;
}