a.employee-details {
	text-decoration: none;
}

td.field_label {
	color: grey;
	text-align: right;
}

.employee {
	font-size: 1.2em;
	color: black;
	height: 20px;
	border-bottom: 1px dotted lightgrey;
}

.extension {
	color: grey;
}