#home-banner
	= image_tag "digidex.png"
	
	#home-text
		Digidex is an easy to use embeddable <strong>company directory</strong>. It solves a mundane problem, which however hasn't been aptly solved. It allows you to <strong>find your colleague</strong> and his or her details. Thats all!
		%br/
		%br/
		%a(href="http://www.rekeeb.com/2011/09/13/new-project-elenco/") Read how it came about...</a>