#home-banner { 
	background-color: #fff; 
	color: #666; text-align: right;
	margin: 100px 100px 100px 100px; 
}
#home-text { 
	text-align: left;
}


#q {
	font-size: 1em;
	padding: 2px 2px 2px 2px;
	min-width: 170px;
}

.employee {
	border-bottom: 1px dotted lightgrey;
	margin: 0px 0px 0px 0px;
	color: black;
}
.employee:hover {
	background: darkorange;
	color: white;
}
a.employee-details {
	text-decoration: none;
	font-size: 1em;
	color: black;
	display: block;
}
a.employee-details:hover {
	color: white;
}
.name {
	padding-left: 3px;
	display: block;
	
}
.name:hover {
	
}
.extension {
	padding-left: 3px;
	font-size: .75em;
	font-weight: bold;
}
.function {
	font-size: .75em;
}

td.field_label {
	color: grey;
	text-align: right;
}

#profile {
	color: darkorange;
	font-size: 1.5em;
}

#profile-header {
	padding-bottom: 5px;
	margin-bottom: 5px;
}
#profile-picture {
}
#profile h1 {
	padding-bottom: 15px;
	margin-bottom: 7px;
	border-bottom: 2px dotted grey;
	
}
#profile #title {
	color: grey;
}
#profile h2 {
	color: darkorange;
	text-align: right;
	font-size: 1em;
	padding-bottom: 0px;
	margin-bottom: 5px;
	border-bottom: 1px dotted grey;
}
#profile-body {
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.chapter {
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.detail {
	font-size: 1em;
	padding-bottom: 5px;
}
.key {
	color: grey;
}