#home-banner { 
	background-color: #fff; 
	color: #666; text-align: right;
	margin: 100px 100px 100px 100px; 
}
#home-text { 
	text-align: left;
}

input[type=search] {
	color: black;
	text-align: left;
	display: block;
	font-size: large;
	min-width: 140px;
}

.employee {
	border-bottom: 1px dotted lightgrey;
	margin: 0px 0px 0px 0px;
	padding: 0px 1px 0px 2px;
	color: black;
	height: 35px;
}
.employee:hover {
	background: lightgrey;
	color: white;
	cursor: pointer;
}
.name {
	padding-left: 3px;
}
.extension {
	font-weight: bold;
	padding-left: 3px;
	font-size: .75em;
}
.function {
	font-size: .75em;
}

td.field_label {
	color: grey;
	text-align: right;
}

#profile {
	color: darkorange;
	font-size: 1.25em;
}

#profile-header {
	min-height: 120px;
}
#profile-picture {
	float:right; 
	margin: 0 0 15px 15px;
	/* display: block;*/
}
#profile h1 {
	font-size: x-large;
	padding-bottom: 7px;
	margin-bottom: 7px;
}
#profile #title {
	color: grey;
}
#profile-body {
	margin-bottom: 0px;
	padding-bottom: 0px;
}
#profile-body h2 {
	color: darkorange;
	text-align: right;
	font-size: large;
	padding-bottom: 0px;
	margin-bottom: 5px;
	border-bottom: 1px solid grey;
}

.chapter {
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.detail {
	font-size: 1em;
	padding-bottom: 5px;
}
.key {
	color: grey;
}

#additional-links {
	float: right;
}


.edit_employee {
	bottom: 0;
  	position: relative;
}

#company_info .company_name {
	color: black;
	padding: 3px 10px;
	cursor: pointer;
	position: relative;
	display: block;
	background-color: lightgrey;
	font-size: large;
	text-transform: uppercase;
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 	
}
#company_details {
	padding: 3px 10px;
}
